body{
    background: url(imagens/icone.png);

}
img {
    width: 890px;
    height: 350px;
}
footer#rodape {
	clear: both;
	border-top: 1px solid #606060;
}
h1, h2{
    font-size: 20pt;
    color: rgb(255, 255, 255); 
}
p {
	font-size: 13pt;
	font-family: Arial, Helvetica, sans-serif;
}
footer#rodape p {
	font-family: sans-serif;
	font-size: 12pt;
	text-align: center;

}
footer#rodape a {
	color: #585858;
	text-decoration: none;
}
footer#rodape a:hover{
	text-decoration: underline;
	color: red;
}
nav#menu {
	display: block;
}
nav#menu ul {
	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -10px;
	left: 400px;
    border-bottom: 1px solid black;
    border-bottom: ;
}
nav#menu li {
	display: inline-block;
	background-color: #585c5c;
	padding: 20px;
	margin: 25px;
	transition: background-color 1s;

}
nav#menu li:hover {
	background-color: #000000;
}

nav#menu h1{
	display: none;
}

nav#menu a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}

nav#menu a:hover {
	color: rgb(255, 0, 0);
	text-decoration: underline;
}
div {
	width: 900px;
	background-image: linear-gradient(to right, rgb(128,128,128), rgb(211,211,211));
	margin: 25px auto 10px auto;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 20px;

    
}
iframe {
    margin-top: 25px;
}
article{
    margin-top: 80px;
}
ul li#insta{
	background: url(imagens/icone-insta.png);
	width: 100px;
	height: 100px;
	background-position: 50% 50%;
	background-size: 100px;
}
ul li#face{
	background: url(imagens/icone-face.png);
	width: 100px;
	height: 100px;
	background-position: 50% 50%;
	background-size: 100px;
}
ul li#you{
	background: url(imagens/icone-you.png);
	width: 100px;
	height: 100px;
	background-position: 50% 50%;
	background-size: 100px;
}
ul span {
	opacity: 0;
}
ul li {
	float: left;
	margin-left: 100px;
	list-style: none;
}
